@charset "UTF-8";

body {
    background-color: #ffffff;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
    }

h1 {
    text-align: left;
}


    /* configurações do menu: */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
    float: right;

    }
.navbar li {
    float: left;
    }

.navbar li a {
    display: block;
    color: black;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    }

.navbar li a:hover {
    background-color: #88d8c0;
    }

.navbar li a:hover {
    color: lightcoral;
}

    /* configurações dos links */
a:link {
    color: #BF1744; text-decoration: none;
}

a:visited {
    color: #D9117F; text-decoration: none;
}

a:hover {
    color: #107369; text-decoration: none; 
}

a:active {
    color: orange; text-decoration: none; 
}

/*----------------------*/

p {
    text-align: justify;
}


/* testando */

img {
    width: 450px;
}


/* corpo */

.corpo {
    margin: auto;
    width: 960px;
}

.conteudo {
    display: table;
}

.imagem {
    display: table-cell;
    float: left;
    margin-bottom: 22px;
}

.texto {
    display: table-cell;
    float: left;
    width: 450px;
    margin-top: -20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* imagens origem */
#img01 {
    width: 400px;
}
.imagem02 {
    float: right;
    margin-left: 20px;
    margin-top:  60px;
}