@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imagens/image08.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
.hero-text button:hover {
    background-color: #555;
    color: white;
  }

    /*-------------GERAL-------------*/
body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    }

h1 {
    text-align: center;
}

h1, h2, h3, h4 {
    color: #33C0B8;
}
p {
    text-align: justify;
}

strong{
    color: #BF3604;
}
    /*-------------SCROLLBAR-------------*/
::-webkit-scrollbar {
    width: 10px;
}
    
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px grey;  /* apagar essa linha dps */
    background-color: #ffffff;
}
    
::-webkit-scrollbar-thumb {
    background: #33C0B8; 
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #107369; 
}

    /*-------------MENU-------------*/
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
    }
    
.navbar li {
    display: inline-block;
    }

.navbar li a {
    display: block;
    color: black;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    }

.navbar li a:hover {
    background-color: #88d8c0;
    border-radius: 20px;
    }

.navbar li a:hover {
    color: lightcoral;
}

.navline {
    width: 900px;
    border: 0.5px solid #33C0B8;
}

    /*-------------LINKS GERAIS-------------*/
a:link {
    color: #BF1744; 
    text-decoration: none;
}

a:visited {
    color: #D9117F; 
    text-decoration: none;
}

a:hover {
    color: #107369; 
    text-decoration: none; 
}

a:active {
    color: orange; 
    text-decoration: none; 
}

    /*-------------INDEX------------- */
.index {
    background-color: white;
    width: 900px;
    padding: 10px;
    margin: auto;
}

    /*-------------ORIGEM------------- */
.origem {
    background-color: white;
    width: 900px;
    padding: 10px;
    margin: auto;
}

img {
    float: left;
    width: 400px;
    padding: 0 10px 0 0;
}

#img2 {
    float: right;
    width: 400px;
    margin-left: 13px;
}

.conteudo2 {
    position: relative;
    width: 900px;
}

#img3 {
    display: block;
    width: 900px;
}

.overlay {
    position: absolute; 
    bottom: -600px; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 860px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: left;
}
  
.conteudo2:hover .overlay {
    opacity: 1;
}

    /*-------------QUIZ-------------*/
.mainquiz {
    background-color: white;
    width: 900px;
    padding: 10px;
    margin: auto;
}

.campoquiz {
    justify-content: center;
    margin-left: 17%;
}

.pergunta {
    font-weight: bold;
    color: #33C0B8;
}

li {
    color: black;
}

input, select, button {
    font-size: 1em;
    border-radius: 5px;
}

/* .grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}
*/

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    display: block;
}

/*fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
} */

.campo input[type="text"], .campo select {
    padding: 0.2em;
    border: 1px solid #107369;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #c7f7f3;
}

.botao {
    background-color: #33C0B8;
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.botao:hover {
    background: #107369;
    text-shadow: none;
}

    /*-------------QUIZ-------------*/
.referencias {
    background-color: white;
    width: 900px;
    padding: 10px;
    margin: auto;
}


/*teste do teste*/
