@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    }

h1 {
    text-align: center;
}

    /* configurações do menu: */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
    }
    
.navbar li {
    display: inline-block;
    }

.navbar li a {
    display: block;
    color: black;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    
    }

.navbar li a:hover {
    background-color: #88d8c0;
    border-radius: 20px;
    }

.navbar li a:hover {
    color: lightcoral;
}

    /* configurações dos links */
a:link {
    color: #BF1744; text-decoration: none;
}

a:visited {
    color: #D9117F; text-decoration: none;
}

a:hover {
    color: #107369; text-decoration: none; 
}

a:active {
    color: orange; text-decoration: none; 
}

/*----------------------*/

        /* CONFIGURAÇÕES DO CORPO DO QUIZ */
main {
    background-color: white;
    width: 900px;
    padding: 10px;
    margin: auto;
}

p {
    text-align: justify;
}

img {
    float: left;
    width: 400px;
    padding: 0 10px 0 0;
}

#img2 {
    float: right;
    width: 400px;
    margin-left: 20px;
}

#img3 {
    width: 900px;
}

#descricao-img3 {
    font-size: 16px;
    font-style: italic;
}


